.tags {
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 7px;
		margin-bottom: .5rem;
	}
	&__input {
		font-size: 14px;
		padding: 10px;
		width: 100%;
		background-color: #fff;
		border-radius: 5px;
		border: none;
		outline: none;
		border-bottom: 1px solid #aaa;
		height: 42px;
	}
	&__tag {
		padding: 0 .5rem;
		background-color: rgb(191 191 191 / 50%);
		border-radius: 30px;
		cursor: pointer;
	}
}