.access-control__tags {
	gap: .2rem;
	padding: .3rem;
	background-color: red;
	border-radius: 5px;
	height: 42px;
	& input {
		all: unset;
	}
	&__tag {
		padding: .2rem .3rem;
		background-color: hsl(180, 100%, 50%, .5);
		border-radius: 30px;
	}
}