.newGallery {
	&__root {
		display: flex;
		flex-direction: column;
		flex-basis: 15%;
		min-width: 300px;
		max-width: 300px;
		overflow: auto;
	}
	&__close {
		margin-right: auto;
		cursor: pointer;
		margin-left: 15px;
		&_helper {
			visibility: hidden;
			margin-left: auto;
			margin-right: 15px;
		}
	}
	&__header {
		justify-content: center;
		align-items: center;
	}
	&__listWrapper {
		display: flex;
		flex-direction: column;
		padding: 0;
	}
	&__listItem {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 20px;
		min-height: 70px;
		cursor: pointer;
		font-weight: bold;
		&:hover {
			background-color: chartreuse;
			font-size: 20px;
		}
		transition: all .15s ease;
	}
}
