@import '../../scss/variables';

@mixin choosen_tag {
	background-color: hsl(90, 100%, 50%, 50%);
	font-size: 20px;
}

.newGallery {
	&__root {
		display: flex;
		flex-direction: column;
		height: 100%;
		border-right: 1px solid #d6d6d6;
	}
	&__topbar {
		display: flex;
		width: 100%;
		align-items: center;
		flex-shrink: 0;
		border-bottom: 1px solid #d0d0d0;
		padding: 5px;
		height: 44px;
	}
	&__close {
		margin-right: auto;
		cursor: pointer;
		margin-left: 15px;
		&_helper {
			visibility: hidden;
			margin-left: auto;
			margin-right: 15px;
		}
	}
	&__header {
		justify-content: center;
		align-items: center;
	}
	&__listWrapper {
		display: flex;
		overflow: auto;
		flex-direction: column;
		padding: 0;
	}
	&__listItem {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 5px;
		min-height: 30px;
		word-break: break-all;
		cursor: pointer;
		font-weight: bold;
		&:hover, &_active {
			@include choosen_tag;
		}
		transition: all .15s ease;
	}
}

.sidebar-button-group {
	display: flex;
	width: 100%;
	border-bottom: 1px solid $border-color;
	padding: 0 5px;
}

.sidebar-btn {
	font-size:0.9rem;
	background: none;
	border: none;
	border-radius: 0;
	padding: 6px 8px;
	margin-bottom: -1px;
	line-height: 1;
	color: $text-color-gray-d;
	transition: all 0.2s ease-in-out;

	&:hover {
		color: $text-color-active;
		border-bottom-color: $color-primary-hover;
	}

	&.active {
		background: #fff;
		color: $text-color-active;
		font-weight: bold;
	}
}

.sidebar-content {
	flex-grow: 1;
	overflow-y: auto;
}
