.App {
	height: 100vh;
	display: flex;
	flex-direction: column;
    overflow: hidden;
}
#switch {
	display: none;
}
@mixin endpointURL {
	font-size: 14px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	outline: none;
}
.shared-link {
	background: url('https://cdn.jsdelivr.net/gh/Spendil/qqq@1.3/media/link.svg') right no-repeat;
	background-size: 10px 10px;
	margin-right: 1px;
	padding: 0 7px;
}
.p-modal {
	padding: 10px 0;
	color: #555;
}
.flex {
	display: flex;
	&-col {
		flex-direction: column;
	}
}
.reset__password {
	position: relative;
}
.logo {
	position: relative;
	display: block;
	left: 30px;
	cursor: pointer;
}
.close {
	opacity: 0.5;
	position: absolute;
	left: 5px;
	top: 5px;
	transition: opacity 150ms;
	cursor: pointer;
	&:hover{
		opacity: 1;
	}
}
.open {
	padding: 5px;
	opacity: 0.5;
	transition: opacity 150ms;
	cursor: pointer;
	&:hover{
		opacity: 1;
	}
}
.content {
	height: 100%;
	overflow: hidden;
	.gallery {
		min-width: 0;
		max-width: 22px;
		transition: width 500ms;
		position: relative;
		flex: 0 0 15% ;
		&__close {
			opacity: 0.5;
			position: absolute;
			left: 5px;
			top: 5px;
			transition: opacity 150ms;
			cursor: pointer;
			&:hover{
				opacity: 1;
			}
		}
		.list-group {
			overflow: auto;
			&-item:first-child {
				border-top: 0;
			}
			&::-webkit-scrollbar {
				display: none;
			}
		}
		&__queries {
			overflow: auto;
			text-align: left;
			&::-webkit-scrollbar {
				display: none;
			}
		}
		&__query {
			&__control {
				&:not(&:last-child) {
					margin-right: 0.5em;
				}
				i {
					font-size: inherit;
				}
			}
			&__wrapper {
				justify-content: space-between;
				button {
					opacity: 0;
				}
				a {
					cursor: pointer;
				}
			}
			position: relative;
			word-break: break-all;
			font-size: 12px;
			padding: 0 0 0 5px;
			cursor: pointer;
			color: #555;
			p {
				padding: 3.5px 0;
				&:hover {
					color: #555;
				}
			}
			&:hover {
				color: #555;
				background-color: #fff;
				padding: 5px 5px;
			}
		}
		&__header {
			display: none;
			text-align: center;
			align-items: center;
			z-index: 1;
			justify-content: center;
			.nav {
				margin-top: 12px;
				justify-content: center;
				&-tabs {
					width: 100%;
				}
			}
			&__title {
				margin-top: 11px;
			}
		}
		&.active {
			min-width: 220px;
			max-width: none;
			.gallery__header {
				display: flex;
			}
		}
	}
}
.graphiql__wrapper {
	display: none;
	flex: 1 1 auto;
	&_active {
		display: block;
	}
}
.graphiql-container {
	flex: 1 1 90%;
	caret-color: #d7d7d7;
	.endpointURL {
		@include endpointURL ;
		display: flex;
		flex: 1 1 auto;
		text-align: left;
	}
	.toolbar {
		width: 100% ;
	}
	&_active {
		display: block;
	}
	.doc-explorer-title-bar{
		height: auto !important;
	}
	.topBar {
		height: 54px !important;
		background: transparent !important;
	}
	.editorWrap {
		overflow-y: hidden;
	}
}
.tabs {
	flex: 1 1 auto;
	&__add {
		padding: 10px 10px 0;
	}
	&__edit {
		border: none;
		border-bottom: 1px solid #d7d7d7;
		outline: none;
		height: 100%;
		& + i {
			opacity: .75;
			transition: opacity 100ms;
			&:hover{
				opacity: 1;
			}
		}
	}
	.tab {
		&__edit {
			display: none;
			margin-left: 5px;
		}
		&__close{
			margin-left: 15px;
			padding-left: 12px;
		}
		&__add {
			opacity: 0.5;
		}
	}
	.nav {
		&-link {
			.cursor-edit {
				cursor: url('./assets/images/pencil-alt-solid.svg') 0 20, auto;
			}
			&:hover {
				.tab__close {
					opacity: .75;
				}
			}
			& .tab__close {
				opacity: 0;
			}
			&.active {
				.tab__close {
					opacity: .75;
				}
			}
		}
		&-item {
			&:hover {
				.tab__edit_active {
					display: inline-block;
				}
			}
		}
	}
}
.controlpanel {
	position: relative;
	display: flex;
	align-items: flex-end;
	position: relative;
	.endpoint_url {
		position: absolute;
		top: 42px;
		left: 460px;
		input {
			text-align: left;
			width: 200%;
			border: none;
			color: #d7d7d7;
		}
	}
}
.profile{
	align-items: center;
	flex-direction: row-reverse;
	justify-content: flex-end;
	position: relative;
	margin: 0 5px 0 0;
	&__menu {
		justify-content: center;
		border-bottom: 1px solid #dee2e6;
		padding-bottom: 5px;
	}
	&__email {
		margin: auto;
	}
	&__button {
		background-color: #555;
		color: #d7d7d7;
		a {
			color: #d7d7d7;
		}
		padding: 10px;
		&:hover {
			background-color:  #828282;
		}
	}
	&__controls {
		background-color: #555;
		-webkit-box-shadow: 0px 4px 3px 4px rgba(0,0,0,0.46); 
		box-shadow: 0px 4px 3px 4px rgba(0,0,0,0.46);
		border-top: none;
		width: 150px;
		z-index: 3;
		position: absolute;
		display: none;
		top: 35px;
		right: 0;
		&.active {
			display: flex;
		}
	}
	&__image {
		font-size: 30px;
		margin: auto 5px;
		cursor: pointer;
		opacity: 0.5;
		&#dropdownMenuButton{
			opacity: 1;
		}
	}
	img {
		padding: 0 10px;
		cursor: pointer;
		width: 55px;
	}
}
.button {
	cursor: pointer;
	width: 150px;
	background: none;
	color: #555;
	padding: 8px;
	margin: 0 5px 0 0;
	border-radius: 10px;
	outline: none;
	&:hover {
		background-color: #d5d5d5;
	}
	&_filled {
		background-color: #d1d1d1;
		border: 1px solid #c27a7a38;
		margin: 35px auto 0;
	}
}
.query {
	&__save {
		@include endpointURL;
		border-bottom: 1px solid #aaa;
	}
}
.modal {
	display: flex;
	flex-direction: column;
	&__form {
		.access-control{
			&__wrapper {
				width: 80%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				.query-link{
					width: 80%;
				}
			}
		}
		&__options{
			margin: 10px 0 0 0;
			width: 100%;
			justify-content: space-between;
		}
		.handler {
			cursor: pointer;
			position: absolute;
			opacity: 0.25;
			transition: opacity 150ms;
			&:hover {
				opacity: 1;
			}
			&__back {
				width: 50px;
				height: 50px;
				padding: 10px;
				left: 10px;
				top: 50%;
				transform: translateY(-50%);
			}
			&__close {
				width: 12px;
				height: 12px;
				top: 10px;
				right: 10px;
			}
		}
		input[type="text"], input[type="password"], textarea {
			text-align: left;
			width: 100%;
		}
		h2 {
			font-size: 25px;
			padding: 15px 0 15px 0;
			color: #555;
		}
		display: flex;
		flex-direction: column;
		align-items: center;
		&_hide {
			display: none;
		}
		a {
			cursor: pointer;
			padding-top: 10px;
			width: fit-content;
			color: #555;
			font-size: 16px;
			&:hover {
				color: #fff;
			}
		}
	}
}
