//Links
.bitquery-link_active {
  cursor: default;
  color: $color-primary-active !important;

  //&:hover, &:focus, &:target {
  //  color: $color-primary-hover !important;
  //}
}

.bitquery-nav_item {
  color: $base-font-color !important;
}
.bitquery-links-doc{
  color: $color-primary-active !important;
&:hover,&:active,&:focus{
  color: $color-primary-hover !important;

}
}
//Icons
.bitquery-ico {
  color: $color-primary-active !important;

  &:hover,&:active,&:focus {
    color: $color-primary-hover !important;

  }
}

.bitquery-ico-gray {
  color: $background-gray-d !important;
}

.bitquery-ico-black {
  color: $base-font-color !important;
  &:hover,&:focus{
    color: $color-primary-hover !important;
  }
}

//Buttons
.bitquery-btn {
  border: 1px solid $color-primary-active;
  border-radius: $border-radius;
  background-color: #FFFFFF;
  padding: 4px 6px;
  color: $color-primary-active;
  //font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover, &:focus {
    background-color: $color-primary-active;
    color: #FFFFFF;
    transform: translateY(-0.5px);
  }

  &:active {
    background-color: darken($color-primary-active, 10%);
    transform: translateY(0);
  }

  &:disabled {
    background-color: #E0E0E0;
    color: #A0A0A0;
    border: 1px solid #E0E0E0;
    cursor: not-allowed;
    box-shadow: none;
  }
  &.active {
    background-color: $color-primary-active;
    color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-0.5px);
  }
}

.bitquery-little-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid $color-primary-active;
  border-radius: $border-radius;
  background-color: #FFFFFF;
  color: $color-primary-active;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;

  &:hover, &:focus {
    background-color: $color-primary-active;
    color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transform: translateY(-0.3px);
    .docs_icon, .bi {
      color: #FFFFFF;
    }

  }

  &:active {
    background-color: darken($color-primary-active, 10%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
  }
  &.active {
    background-color: $color-primary-active;
    color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transform: translateY(-0.3px);
  }

  &:disabled {
    background-color: #F0F0F0;
    color: #A0A0A0;
    border: 1px solid #F0F0F0;
    cursor: not-allowed;
    box-shadow: none;
  }

  .docs_icon, .bi {
    font-size: 14.5px;
  }
}



.pressed-btn{
  @include hover-btn

}

//teg
.bitquery-teg{
  //background-color: $background-gray-m;
  background-color: $base-teg-color;
  padding: 4px 8px;
  border-radius: 16px;
  color:$text-color-gray-l;
  font-size: 11px;
  line-height: 13px;
}
.bitquery-teg-color{
  background-color: $color-primary-active;
  padding: 4px 8px;
  border-radius: 16px;
  color:#ffffff;
  font-size: 11px;
  line-height: 13px;
  margin-left:auto;
}


.bitquery-addNewTab{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}