.bitquery-header {
  @include flex-between-center;
  font-size: 0.95rem;
  width: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 7px 13px;


  .bitquery-logo {
    @include flex-between-center;
    width: 200px;
    &:hover{
      cursor:pointer;
    }

    &_link {
      @include flex-between-center;
    }

    &_text, &_graph {
      cursor: default;
      font-size: 1rem;
      font-weight: 600;
    }
  }

  .bitquery-graphQL {
    color: #CE4372;
  }

  .bitquery-divider, .bitquery-divider_little {
    display: inline-block;
    width: 1px;
    content: '';
    background: $background-gray-d;

    &.bitquery-divider {
      height: 24px;
    }

    &.bitquery-divider_little {
      height: 1rem;

      @media (max-width: 991px) {
        display: none;
      }
    }
  }
}

.bitquery-search {
  background: $base-gradient;
  height: 32px;
  width: 300px;
  border-radius: 8px;
  padding: 0 16px;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 18px;
  border: none;

  &::placeholder {
    color: $text-color-gray-l;
  }

  &:active, &:target, &:focus {
    @include focus-style;

  }
}

.bitquery-links,  #navbarDropdownMenuQueries, #nav-dropdown, #profileButton {
  @include link-style;

  &:after {
    color: $color-primary-active;
  }
}
.bitquery-nav_item{
  color:$base-font-color;
}
.bitquery-link_active {
  cursor: pointer;
    color: $color-primary-active !important;

  &:hover, &:focus, &:target {
  color: $color-primary-hover !important;
  }
}

.bitquery-nav_container {
  @include flex-between-center;
}

.bitquery-profile-button {
  margin-left: auto;
}

.profile-email {
  color: $text-color-gray-d !important;

  &:hover {
    cursor: default;
    color: $text-color-gray-d !important;

    text-decoration: none;
    border-color: transparent;
    background-color: transparent !important;
  }
}