@mixin focus-style {
  outline: 2px solid $color-primary-active !important;
}

@mixin link-style {
  display: flex;
  align-items: center;
  color: $base-font-color !important;
  text-decoration: none !important;

  &:hover, &:focus, &:target {
    cursor: pointer;
    color: $color-primary-hover !important;
    text-decoration: none;
    border-color: transparent;
    background-color: transparent !important;
  }

  &:active {
    color: $color-primary-active !important;
    background-color: transparent !important;
  }
}

@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
@mixin hover-btn{
  color:$color-primary-hover;
  border: 1px solid $color-primary-hover;
  outline: transparent;
  box-shadow:$color-primary-active 2px 2px 4px 0px inset, 5px 5px 11px 5px rgba(0, 0, 0, 0) !important;
}
@mixin transition-btn{
  transition: color 0.15s, border 0.15s, box-shadow 0.15s;
}