
a {
  outline: none;
  border: none;
  box-shadow: none !important;
  text-decoration: none !important;
  &:hover, &:focus, &:target {
    text-decoration: none !important;
    outline: transparent

  }
}
i{
  &:hover, &:focus, &:target,&:active {
   background-color: transparent !important;

  }
}
button {
  outline: transparent
}
