.bitquery-inputUrl {
  //background-image: linear-gradient( #CA356814, #FFFFFF);
  //background-color:#CA356814;
  //  background: linear-gradient(180deg, #CA356814 0%, #FFF6F9 100%);
  background: #ffffff;
  border-radius: $border-radius;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 18px;
  border: none;

  &::placeholder {
    color: $text-color-gray-l;
  }

  &:active, &:target, &:focus {
    outline: transparent !important;
    box-shadow: none;
  }
}

.bi-code-slash:hover {
  background-color: inherit;
}

.input-group-fix {
  display: flex;
  align-items: center;
  height: 31.5px;
  border: 1px solid $color-primary-active;
  border-radius: $border-radius;
  overflow: hidden;
  background-color: #FFFFFF;
  transition: all 0.3s ease;

  &:hover, &:focus-within {
    border-color: darken($color-primary-active, 10%);
  }


  .drop-down-fix {
    border: none;
    height: auto;
    padding: 5px;
    border-right: 1px solid $color-primary-active;
    border-radius: $border-radius 0 0 $border-radius;
    background-color: transparent;
    color: $color-primary-active;
    font-size: 0.9rem;
    outline: none;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover, &:focus {
      background-color: $color-primary-active;
      color: #f9f9f9;
    }

    option {
      color: #f9f9f9;
    }
  }

  .input-url-fix {
    flex-grow: 1;
    border: none;
    height: auto;
    padding: 0;
    padding-left: 10px;
    font-size: 0.9rem;
    color: #333;
    border-radius: 0 $border-radius $border-radius 0;
    outline: none;
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover, &:focus {
      color: darken($color-primary-active, 10%);
      border: none;
    }
  }
}

.btn_icon {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
